<div class="main">

    <div class="header">
        <p>Выберите друзей<i class="fa fa-times" aria-hidden="true"></i></p>
    </div>

    <div class="filter-block">
        <div class="filter-friends">
            <input type="text" data-main="filter_friends" name="name" placeholder="Начните вводить имя друга">
        </div>
        <div class="filter-sort">
            <input type="text" name="name" placeholder="Название">
        </div>
    </div>

    <div class="content">
        <div class="friend-list">
            <div class="header-friend-list">
                <p>Ваши друзья</p>
            </div>
            <div id="result"></div>
        </div>
        <div class="friend-sorted">
            <div class="header-friend-sorted">
                <p>Друзья в списке</p>
            </div>
            <div id="result-list"></div>
        </div>
    </div>

    <div class="footer">
        <button id="save">Сохранить</button>
    </div>
</div>