<div id="map"></div>

<div id="content">
    <div class="head">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>Адрес точки</p>
        <i class="fa fa-times"></i>
    </div>
    <div class="message-block">
        <div class="message">
            <div class="message-head">
                <span id="author">Автор</span>
                <p>Название точки Дата</p>
            </div>
            <div class="message-body">
                <p>Текст сообщения</p>
            </div>
        </div>
        <div class="message">
            <div class="message-head">
                <span id="author">Автор</span>
                <p>Название точки Дата</p>
            </div>
            <div class="message-body">
                <p>Текст сообщения</p>
            </div>
        </div>
        <div class="message">
            <div class="message-head">
                <span id="author">Автор</span>
                <p>Название точки Дата</p>
            </div>
            <div class="message-body">
                <p>Текст сообщения</p>
            </div>
        </div>
        <div class="message">
            <div class="message-head">
                <span id="author">Автор</span>
                <p>Название точки Дата</p>
            </div>
            <div class="message-body">
                <p>Текст сообщения</p>
            </div>
        </div>
        <div class="message">
            <div class="message-head">
                <span id="author">Автор</span>
                <p>Название точки Дата</p>
            </div>
            <div class="message-body">
                <p>Текст сообщения</p>
            </div>
        </div>
        <div class="message">
            <div class="message-head">
                <span id="author">Автор</span>
                <p>Название точки Дата</p>
            </div>
            <div class="message-body">
                <p>Текст сообщения</p>
            </div>
        </div>
    </div>

    <div class="feedback">
        <div class="feedback-head">
            <p>ВАШ ОТЗЫВ</p>
        </div>
        <div class="feedback-author">
            <input type="text" name="author" placeholder="Ваше имя"/>
        </div>
        <div class="feedback-place">
            <input type="text" name="place" placeholder="Укажите место"/>
        </div>
        <div class="feedback-text">
            <textarea name="text" placeholder="Поделитесь впечатлениями"></textarea>
        </div>
    </div>
    <button id="add">Добавить</button>
</div>